{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="followings-post-section">
    <!--<div class="post-1 postItem" data-post="{post.id}">
            <div class="post-user"></div>
            <div class="post-content"></div>
            <div class="post-time"></div>
            <div class="post-likes">
                <img src="---" class="likes-logo" alt="likeLogo">
                <span class="likes-count"></span>
            </div>
            <div class="post-comment"></div>
        </div>
     -->
</div>
{% endblock %}

{% block script %}

    {{ username|json_script:"username" }}
    <script src="{% static 'network/following.js' %}"></script>

{% endblock %}