<!-- ALL Post -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>All Posts</h2>

    <div class="create-post-section">
        <h3>New Post</h3>
        <form id="create-form" method="post">
            {% csrf_token %}

            <!-- for the 300 char limit -->
            <textarea class="textarea resize-ta" name="post-text" id="post-text" 
                rows="4" cols="100"></textarea> <br>
            <input value="Post" type="submit" class="btn btn-primary">
        </form>
    </div>
    
    <div class="all-post-section">
        <!--<div class="post post-1">
                <div class="post-user"></div>
                <div class="post-editbtn"></div>
                <div class="post-content"></div>
                <div class="post-time"></div>
                <div class="post-likes">
                    <img src="---">
                </div>
                <div class="post-comment"></div>
            </div>
         -->
    </div>
    

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    {{ posts|json_script:"posts" }}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}