<!-- ALL Post -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>All Posts</h2>

    <div class="create-post-section">
        <h3>New Post</h3>
        <form id="create-form" method="post">
            {% csrf_token %}

            <!-- for the 300 char limit -->
            <textarea class="textarea resize-ta" name="post-text" id="post-text" 
                rows="4" cols="100"></textarea> <br>
            <input value="Post" type="submit" class="btn btn-primary">
        </form>
    </div>
    
    <!-- <div class="all-post-section">
        <div class="post post-1">
                <div class="post-user"></div>
                <div class="post-editbtn"></div>
                <div class="post-content"></div>
                <div class="post-time"></div>
                <div class="post-likes">
                    <img src="---">
                </div>
                <div class="post-comment"></div>
            </div> 
    </div> -->

    {% for post in page_obj %}
        <a href="{% url 'post' post.user post.id %}"></a>
            <div data-id="{{ post.id }}" data-user="{{ post.user }}" class="postItem">
                <div class="post-user">
                    <a href="{% url 'profile' post.user %}">{{ post.user }}</a>
                </div>
        
                {% if post.user == current_user %}
                    <div class="post-edit">
                        <form onsubmit="event.preventDefault()" id="edit-form">
                            {% csrf_token %}
                            <button onclick="editPost(`{{post.id}}`, `{{ post.user }}`);" class="post-editBtn btn btn-info btn-sm">Edit</button>
                            <textarea style="display: none;" class="textarea resize-ta" id="edit-text" name="edit-text" rows="4" cols="100">{{ post.text }}</textarea>
                        </form>
                    </div>
                {% endif %}

                <div class="post-content">
                    <div class="post-text">
                        {{ post.text }}
                    </div>
                </div>
                <div class="post-time">
                    {{ post.created_at }}
                </div>
                
                <!-- <div class="post-likes">
                    {% for liked in post.likers.all %}
                        {% if liked.user == current_user %}
                                <img src="/static/images/like.png" onclick="unLike(`{{post.id}}`, `{{ post.user }}`)" class="likes-logo">
                        {% endif %}
                    {% endfor %}
                </div> -->

                <div class="post-likes">
                    <img class="likes-logo" alt="likeLogo">
                </div>


            </div>
            <!-- 
                <div class="editPost">

                </div>
             -->
        </a>
    {% endfor %}
    

    <!----------------- Pagination page section --------------------------->
    {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <span class="page-link">
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <span class="page-link">
                        <a href="?page={{ page_obj_next_page_number }}">Next</a>
                    </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}

   
{% endblock %}

{% block script %}
    <!-- <script src="{% static 'network/index.js' %}"></script> -->

    {{ json_posts|json_script:"json_posts" }}
    {{ json_cur_user|json_script:"json_cur_user" }}
    <script type="text/javascript">

        const curLoginUser = JSON.parse(JSON.parse(json_cur_user.text));
    
        document.addEventListener('DOMContentLoaded', function() {
            
            // Load post each time on page

            document.querySelector('#post-text').value = "";    // empty form after/before submitting
            fillLikes();
            newPost();
        })


        function fillLikes() {

            const postLikes = document.querySelectorAll('.post-likes');

            postLikes.forEach(post => {

                fetch(`/${post.parentElement.dataset.user}/post/${post.parentElement.dataset.id}/addlikes`)
                .then(response => response.json())
                .then(ps => {

                    // let likeImg = document.createElement('img');
                    let likeImg = post.querySelector('.likes-logo');
                    // likeImg.className = 'likes-logo';
                    // likeImg.src = "/static/images/like.png";
                    likeImg.setAttribute('width', 20);
                    likeImg.setAttribute('heigth', 97);

                    console.log(ps)
                    
                    if (ps["add_like"] === 'true') {
                        // likeImg.className = 'likes-logo';
                        likeImg.src = "/static/images/like.png";

                        // post.append(likeImg);
                        // console.log(p.contains(likeImg))
                        likeImg.addEventListener('click', function() {
                            likeImg.src = "/static/images/unlike.png";
                            unLike(post.parentElement.dataset.id, post.parentElement.dataset.user);
                            // return false;
                        })
                    } else if (ps["add_like"] === 'false') {
                        // likeImg.className = 'unlikes-logo';
                        likeImg.src = "/static/images/unlike.png";

                        // post.append(likeImg);
                        // console.log(p.contains(dislikeImg))
                        likeImg.addEventListener('click', function() {
                            likeImg.src = '/static/images/like.png';
                            addLike(post.parentElement.dataset.id, post.parentElement.dataset.user);
                            // return false;
                        });
                    }

                    // Check element of current post
                    // console.log(post.children[0].className);
                })
            });

        }

        function addLike(post_id, post_user) {
            
            // Fetch the db for the post that going to be liked
            fetch(`/${post_user}/post/${post_id}/addlikes`, {
                method: 'POST',
                body: JSON.stringify({
                    post_author: post_user,
                    post_id: post_id
                })
            })
            .then(response => response.json())
            .then(result => {
                
                if (result["status"] === 'success') {
                    // document.querySelectorAll('[data-id]').className = 'likes-logo';
                    window.history.replaceState( "http://127.0.0.1:8000/" , "", "http://127.0.0.1:8000/" );
                }

            });

        }

        function unLike(post_id, post_user) {

            // Fetch the db for the post that going to be liked
            fetch(`/${post_user}/post/${post_id}/dislikes`, {
                method: 'POST',
                body: JSON.stringify({
                    post_author: post_user,
                    post_id: post_id
                })
            })
            .then(response => response.json())
            .then(result => {
                
                if (result["status"] === 'success') {
                    // document.querySelectorAll('[data-id]').className = 'likes-logo';
                    window.history.replaceState( "http://127.0.0.1:8000/" , "", "http://127.0.0.1:8000/" );
                }

            });

        }

        function newPost() {

            document.querySelector('#create-form').onsubmit = function() {

                fetch('/post', {
                    method: 'POST',
                    body: JSON.stringify({
                        text: document.querySelector('#post-text').value
                    })
                })
                .then(response => response.json())
                .then(result => {
                    // Print result on browser's console
                    console.log(result);
                    
                    location.reload();
                });

                return false;
            }
        }

        function editPost(post_id, post_user) {

            console.log("You clicked the edit button");

            const posts = document.querySelectorAll('.postItem');
            posts.forEach(post => {

                if (post.dataset.id === post_id) {

                    post.querySelector('#edit-text').style.display = "block";
                    
                    let originalPost = post.querySelector('.post-text').innerText;

                    // Change the class of button
                    let editButton = post.querySelector('.post-editBtn');

                    // Empty the original post text
                    post.querySelector('.post-text').innerText = '';

                    // Insert form to edit post on post edit section
                    let editForm = post.querySelector('#edit-form');

                    editButton.addEventListener('click', function() {

                        console.log("OK");

                        const editPostContent = post.querySelector('#edit-text').value;

                        // Make a put request to the db
                        fetch(`/${post_user}/post/${post_id}`, {
                            method: 'PUT',
                            body: JSON.stringify({
                                text: editPostContent
                            })
                        })
                        
                        post.querySelector('.post-text').innerText = editPostContent;

                        if (post.querySelector('#edit-text').style.display === 'none') {
                            post.querySelector('#edit-text').style.display = "block";
                        } else if (post.querySelector('#edit-text').style.display === 'block') {
                            post.querySelector('#edit-text').style.display = "none";
                        }

                        return false;
                    })
                }
            })

        }

    </script>
{% endblock %}