{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    Profile page
{% endblock %}

{% block script %}
    <!-- <script src="{% static 'network/profile.js' %}" type="text/javascript">
    </script> -->
    <script type="text/javascript">

        let user = {{user | safe}};


        
        document.addEventListener('DOMContentLoaded', function() {
            console.log(`${user["username"]} has ${user["followers"]} followers.`);

        });

    </script>
{% endblock %}