.create-post-section {
    margin: 0.6em;
    padding: 0.7em;
    border: 2px solid gray;
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 1.5em;
}

.postItem {
    margin: 0.6em;
    padding: 1em;
    border: 2px solid gray;
    border-radius: 5px;
}